<div class="footer">
  <div class="navList">
    <h6>PRODUCTS</h6>

    <ul>
      <li><a href="#">All Products</a></li>
      <li><a href="#">Qlik Cloud Platform</a></li>
      <li><a href="#">Qlik Sense</a></li>
      <li><a href="#">Qlik AutoML</a></li>
      <li><a href="#">QlikView</a></li>
      <li><a href="#">Qlik Replicate</a></li>
      <li><a href="#">Qlik Compose for Data Lakes</a></li>
      <li><a href="#">Qlik Compose for Data Warehouse</a></li>
      <li><a href="#">Qlik Enterprise Manager</a></li>
      <li><a href="#">Catalog &amp; Lineage</a></li>
      <li><a href="#">Qlik Gold Client</a></li>
      <li><a href="#">Why Qlik</a></li>
    </ul>
  </div>
  <div class="navList">
    <h6>RESOURCES</h6>

    <ul>
      <li><a href="#"> Resource Library</a></li>
      <li><a href="#"> Qlik Partners </a></li>
      <li><a href="#"> Free Trials </a></li>
      <li><a href="#"> Compare Qlik </a></li>
      <li><a href="#"> Glossary </a></li>
      <li><a href="#"> Training </a></li>
      <li><a href="#">Support </a></li>
    </ul>
  </div>
  <div class="navList">
    <h6>COMPANY</h6>

    <ul>
      <li><a href="#"> About Qlik </a></li>
      <li><a href="#"> Qlik Partners </a></li>
      <li><a href="#"> Press Room </a></li>
      <li><a href="#"> Trust & Security </a></li>
      <li><a href="#"> Trust & Privacy </a></li>
      <li><a href="#"> Accessibility </a></li>
      <li><a href="#"> Careers </a></li>
      <li><a href="#"> Global Offices </a></li>
      <li><a href="#"> Contact Sales </a></li>
    </ul>

    <div>
      <ul>
        <li>Qlik Community</li>
        <li>
          <div class="footericon">
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin-in"></i>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-solid fa-envelope"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="navList">
    <h6>LEGAL</h6>

    <p>
      © 1993-2023 QlikTech <br />
      International AB, All Rights <br />
      Reserved
    </p>

    <ul>
      <li><a href="#"> Legal Policies </a></li>
      <li><a href="#"> Privacy & Cookie Notice </a></li>
      <li><a href="#"> Trademarks </a></li>
      <li><a href="#"> Terms of Use </a></li>
      <li><a href="#"> Legal Agreements </a></li>
      <li><a href="#"> Product Terms </a></li>
      <li><a href="#">Do Not Share My Info </a></li>
    </ul>

    <h6>CHANGE LANGUAGE</h6>
    <div
      class="d-flex align-items-center justify-content-between px-2 py-1"
      style="border: 1px solid #fff"
    >
      <div class="d-flex justify-content-center align-items-center">
        <i class="fa-solid fa-globe mx-2"></i>
        <p class="m-0">ENGLISH</p>
      </div>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
</div>
