@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: #54565a;
}

.btn1 {
  background-color: #009845;
  color: #fff;
  font-weight: 700;
  border: 1px solid #fff;
  outline: none;
  padding: 6px 16px;
  font-size: 1.2rem;
}

/* Header */

.logo img {
  width: 150px;
}

nav a {
  margin: 0 10px;
  transition: 0.2s;
  padding-bottom: 10px;
}

nav a:hover {
  color: green;
  border-bottom: 5px solid green;
}

/* Footer */

.footer {
  background-color: #54565a;
  padding: 5%;
  display: flex;
  justify-content: space-between;
}

.navList,
.navList ul li a {
  color: #fff;
  font-weight: 300;
}

.navList h6 {
  font-weight: 700;
}

.navList ul li a:hover {
  border-bottom: 1px solid #fff;
}
.navList ul {
  list-style: none;
  padding: 0;
}

.navList ul li {
  margin-bottom: 0.5rem;
}
